/* body { 
  background-image: url('bg.png') !important;
} */

h1 {
  font-family: Asap;
  font-size: 20px;
  font-weight: bold;
}
h2 {
  font-family: Asap;
  font-size: 20px;
  font-weight: bold;
}
.bg-1 {
  background-image: url("./bg.png") !important;
  background-size: cover !important;
}
.App {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.length-btn {
  width: 91px;
  height: 32px;
}
.green-btn {
  cursor: pointer;
  border-radius: 10000px;
  background-color: #00cd90;
  color: #fff;
  border: none;
  text-align: center;
  font-family: Asap;
  font-size: 16px;
  line-height: 18.34px;
}

.green-btn:hover {
  background-color: #fff; /* Green */
  color: #00cd90;
  border: 1px #00cd90 solid;
}

.red-btn {
  cursor: pointer;
  border-radius: 10000px;
  background-color: #d74c7f;
  color: #fff;
  border: none;
  font-family: Asap;
  font-size: 16px;
  line-height: 18.34px;
}
.red-btn:hover {
  background-color: #fff; /* Green */
  color: #d74c7f;
  border: 1px #d74c7f solid;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 369px;
  height: 254px;
  padding: 5rem;
  background-color: #fff;
  border-radius: 8px;
  border: #333 solid 1px;
  box-shadow: 1px 1px 1px #333;
}
.box .green-btn {
  width: 148px;
  height: 40px;
}
.box img {
  margin-bottom: 25px;
}
.button-close {
  display: flex;
  justify-content: flex-end;
}
.button-control {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.button-submit {
  display: flex;
  justify-content: flex-end;
}
.button-control .green-btn {
  margin-bottom: 16px;
}
.button-control .red-btn {
  margin-right: 5px;
}

.modal {
  font-family: Arial, Helvetica, sans-serif;
  position: fixed;
  z-index: 1;
  padding-top: 150px;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
  border-radius: 8px;
  background-color: #fefefe;
  margin: auto;
  padding: 15px;
  border: 1px solid #888;
}
.login-modal {
  width: 335px;
  height: 306px;
}
.loginfail-modal {
  width: 335px;
}
.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loginfail-modal .red-btn {
  width: 148px;
  height: 40px;
}
.register-modal {
  width: 717px;
}
.register-choice-modal {
  width: 299px;
  padding-bottom: 50px;
}
.register-choice-modal .green-btn {
  width: 199px;
  height: 32px;
  padding: 7px, 16px, 7px, 16px;
}
.register-choice-modal .red-btn {
  width: 199px;
  height: 32px;
  padding: 7px, 16px, 7px, 16px;
}
.close {
  color: #000;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.form-control {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
}

label {
  width: 100%;
  margin-right: 4rem;
}
input {
  width: 305px;
  padding: 5px;
  height: 32px;
  border: #000 1px solid;
  border-radius: 8px;
  font-size: 16px;
  font-family: Asap;
}
input:focus {
  outline-color: #00cd90;
}

textarea {
  width: 687px;
  border-radius: 8px;
}
textarea:focus {
  outline-color: #00cd90;
}

label {
  font-size: 16px;
  font-family: Asap;
  font-weight: bold;
}
